In [2]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow = TRUE, nrow =3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

# Star Wars Box Office Numbers

In [3]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [5]:
# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)
box_office

[1] 460.998 314.400 290.475 247.900 309.306 165.800

In [12]:
# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE) #,dimnames = list(titles, region)
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

In [10]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

In [15]:
# Name the columns with region
colnames(star_wars_matrix) = region

# Name the rows with titles
rownames(star_wars_matrix) = titles

# Print out star_wars_matrix
print(star_wars_matrix)

                             US non-US
A New Hope              460.998  314.4
The Empire Strikes Back 290.475  247.9
Return of the Jedi      309.306  165.8

In [16]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [17]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106